<!-- <p-dialog [(visible)]="usuarioDialog" [style]="{width: '450px'}" header="Usuario" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="field">
      <label for="inputID" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="inputID" formControlName="id" readonly>
      </div>
    </div>

    <div class="field">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['required'] &&
            oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['minlength']
              && oForm.controls.nombre.dirty && !oForm.controls.nombre.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['minlength']
              ||  oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['maxlength'] ||
              oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['required']}" id="inputNombre"
        formControlName="nombre">
      <small class="p-error" *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['minlength']">
        La longitud mínima es de 5 caracteres.</small>
      <small class="p-error" *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['maxlength']">
        La longitud máxima es de 10 caracteres.</small>
      <small class="p-error" *ngIf="oForm.controls.nombre.dirty &&  oForm.controls.nombre.errors?.['required']">
        El campo es obligatorio.
      </small>
    </div>

    <div class="field">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" [ngClass]="{'is-valid' : oForm.controls.apellidos.dirty && !oForm.controls.apellidos.errors?.['required'] &&
            oForm.controls.apellidos.dirty && !oForm.controls.apellidos.errors?.['minlength']
              && oForm.controls.apellidos.dirty && !oForm.controls.apellidos.errors?.['maxlength'],
              'is-invalid' :  oForm.controls.apellidos.dirty &&  oForm.controls.apellidos.errors?.['minlength']
              ||  oForm.controls.apellidos.dirty &&  oForm.controls.apellidos.errors?.['maxlength'] ||
              oForm.controls.apellidos.dirty &&  oForm.controls.apellidos.errors?.['required']}" id="inputApellidos"
        formControlName="apellidos">
      <small class="p-error" *ngIf="oForm.controls.apellidos.dirty &&  oForm.controls.apellidos.errors?.['minlength']">
        La longitud mínima es de 5 caracteres.</small>
      <small class="p-error" *ngIf="oForm.controls.apellidos.dirty &&  oForm.controls.apellidos.errors?.['maxlength']">
        La longitud máxima es de 60 caracteres.</small>
      <small class="p-error" *ngIf="oForm.controls.apellidos.dirty &&  oForm.controls.apellidos.errors?.['required']">
        El campo es obligatorio.</small>
    </div>


     <div class="field">
      <label for="inventoryStatus">Inventory Status</label>
      <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses"
        placeholder="Select">
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="field">
      <label class="mb-3">Category</label>
      <div class="formgrid grid">
        <div class="field-radiobutton col-6">
          <p-radioButton id="category1" name="category" value="Accessories"
            [(ngModel)]="product.category"></p-radioButton>
          <label for="category1">Accessories</label>
        </div>
        <div class="field-radiobutton col-6">
          <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
          <label for="category2">Clothing</label>
        </div>
        <div class="field-radiobutton col-6">
          <p-radioButton id="category3" name="category" value="Electronics"
            [(ngModel)]="product.category"></p-radioButton>
          <label for="category3">Electronics</label>
        </div>
        <div class="field-radiobutton col-6">
          <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
          <label for="category4">Fitness</label>
        </div>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="price">Price</label>
        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD"
          locale="en-US"></p-inputNumber>
      </div>
      <div class="field col">
        <label for="quantity">Quantity</label>
        <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
      </div>
    </div> -->
  <!-- </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
<p-dialog
header="Crear Usuario"
[(visible)]="displayBasic"
[style]="{width: '40vw'}"
[maximizable]="true"
[breakpoints]="{'960px': '75vw'}"
(onHide)="closeModal()">

    <div>
      <app-usuario-form-admin-unrouted></app-usuario-form-admin-unrouted>

    </div>
    <ng-template pTemplate="footer">
      <p-button
      icon="pi pi-check"
      (click)="closeModal()"
      label="Cancelar"
      styleClass="p-button-text">
    </p-button>
    <p-button
        (click)="onSubmit()"
        label="Añadir"
        [disabled]="oForm.invalid"
      ></p-button>
  </ng-template>

</p-dialog>
