<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-3">Bienvenido a la aplicación Produce Catering</h1>
        <p class="lead">Esta aplicación permite gestionar la producción de su catering</p>
        <hr class="my-4">
        <p>Para poder acceder a la aplicación, debe estar registrado</p>
        <p class="lead">
          <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        </p>
      </div>
    </div>
  </div>

