<div class="container">
 
          <table class="tabla">
              <tbody>
                  <tr>
                      <th>Id</th>
                      <td>{{oUsuario.id}}</td>
                  </tr>
                  <tr>
                      <th>Nombre</th>
                      <td>{{oUsuario.nombre}}</td>
                  </tr>
                  <tr>
                      <th>Apellidos</th>
                      <td>{{oUsuario.apellidos}}</td>
                  </tr>
                  <tr>
                      <th>DNI</th>
                      <td>{{oUsuario.dni}}</td>
                  </tr>
                  <tr>
                      <th>email</th>
                      <td>{{oUsuario.email}}</td>
                  </tr>
                  <tr>
                    <th>Login</th>
                    <td>{{oUsuario.login}}</td>
                </tr>
                <tr>
                  <th>Tipo de Usuario</th>
                  <td>{{oUsuario.tipousuario.tipo}}</td>
              </tr>
              </tbody>
          </table>
      </div>

