div {
  display: flex;
  justify-content: center;
  margin: 2%;




}

#tabla {
  margin: 0 auto;
  width: 80%;

}


th {
  border: 0.8px solid #ddd;
  padding: 8px;
  border-radius: 5%;
  border-collapse: collapse;
  background-color: blueviolet;

}



tr:hover {
  background-color: #ddd;
}
